*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    background-color: #fffaebb1;
      font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.app{
    display: flex;
    height: 100vh;
    width: 100%;
    gap: 5px;
    padding-top: 0.5%;
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 240px;
    background-color: #0b1220;
    border-right: 0.5px solid rgb(230, 230, 230);
    border-radius: 0 8px 8px 0;
    height: 100vh;
    color: white;
    padding: 20px;
    gap: 16px;
}

.main{
    flex: 1;
    background-color: #f4f7fb;
    padding: 12px 0 0 0;
    border-radius: 8px 0 0 8px;
}

.main-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-right: 15px;
    width: 100%;
    background-color: white;
    height: 10vh;
}

.search{
    display: grid;
    min-width: 500px;
    max-width: 500px;
    grid-template-columns: 4fr 60px;
    margin: auto;

}

.search > input {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 50px 0 0 50px;
    padding: 10px 20px;
    height: 35px;
}

.search > div{
    border: none;
    background-color: rgb(24, 49, 83);
    border-radius: 0 50px 50px 0;
    padding: 10px 20px;
    height: 35px;
    
}

.logo{
    font-size: 25px;
    font-weight: 800;
}

.actions{
    display: flex;
    gap: 8px;
    align-items: center;
    flex: 0 0 auto;
}

.actions > button{
    border: 1px solid transparent;
    padding: 8px 12px;
    border-radius: 8px;
    background:  rgb(30, 60, 102);
    color: white;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 4px;
}

.col{
    min-width: 220px;
    background: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 1px 0 rgba(11,18,32,0.04);
}
